# Compiled output
dist
tmp
out-tsc
bazel-out
notes.json
reminders.json

# Node
node_modules
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.DS_Store
Thumbs.db